<div class="prettify-flashcard">
  <!-- Header (se houver) -->
  {{#Tags}}
  <div class="prettify-tags">{{clickable:Tags}}</div>
  {{/Tags}}
  {{#Header}}
  <div class="prettify-field prettify-field--header">
      {{Header}}
  </div>
  {{/Header}}

  <!-- Occlusion Cloze (oculto) -->
  <div style="display: none">{{cloze:Occlusion}}</div>

  <!-- Mensagem de erro (se houver) -->
  <div id="err"></div>

  <!-- Container da imagem com occlusão -->
  <div id="image-occlusion-container" class="prettify-field prettify-field--image-occlusion">
      {{Image}}
      <canvas id="image-occlusion-canvas"></canvas>
  </div>

  <!-- Botão para alternar máscaras -->
  <!-- <div class="prettify-field prettify-field--buttons">
      <button id="toggle">Mostrar/Ocultar Máscaras</button>
  </div> -->

  {{#Comments}}
  <div class="prettify-field prettify-field--back-comments">
      {{Comments}}
  </div>
  {{/Comments}}

  <!-- Conteúdo extra para links (se houver) -->
<footer>
  {{#Back Extra}}
  <a href="https://www.youtube.com/results?search_query={{Back Extra}}" title="Youtube videos">Youtube</a>
  <a href="https://duckduckgo.com/?t=ffab&q={{Back Extra}}&ia=web" title="Search on web">DuckDuckGo</a>
  <a href="https://duckduckgo.com/?t=ffab&q={{Back Extra}}+site%3Aqconcursos.com+intext%3AQuestões&t=ffab&ia=web" title="Questoes">Qconcusos</a>
  <!--<a href="https://www.qconcursos.com/questoes-de-concursos/questoes?q={{Back Extra}}" title="Questoes">Qconcusos</a>-->
  <a href="https://duckduckgo.com/?t=ffab&q={{Back Extra}}&iax=images&ia=images" title="Search Images">Images</a>
  <!-- <a href="https://www.phind.com/search?q={{Back Extra}}" title="Search on Phind">Phind</a> -->
  <a href="https://chatgpt.com/?temporary-chat=true&model=gpt-4o&q={{Back Extra}}" title="Search on ChatGPT">GPT-4o</a>
  <a href="https://chatgpt.com/?temporary-chat=true&model=o1&q={{Back Extra}}" title="Search on ChatGPT">GPT-o1</a>
  <a href="https://you.com/search?q={{Back Extra}}&fromSearchBar=true&tbm=youchat&chatMode=default"
    title="Search on Phind">YouAI</a>
  {{/Back Extra}}
</footer>


</div>

<!-- Script para configurar o Image Occlusion -->
<script>
  try {
      anki.imageOcclusion.setup();
  } catch (exc) {
      document.getElementById("err").innerHTML = `Erro ao carregar a ocultação de imagem. Sua versão do Anki está atualizada?<br><br>${exc}`;
  }
</script>

<script>
// Split hierarchical tags
var tagsContainerEl = document.querySelectorAll('.prettify-tags > *')
if (tagsContainerEl.length > 0) {
  var tags = []
  tagsContainerEl.forEach((tagEl) => {
    tagEl.classList.add('prettify-tag')
    tags.push(tagEl.innerHTML)
    tags.forEach((tag) => {
      var childTag = tag.split('::').filter(Boolean)
      tagEl.innerHTML = childTag[childTag.length - 1].trim()
    })
  })
} else {
  tagsContainerEl = document.querySelector('.prettify-tags')
  if (tagsContainerEl) {
    var tags = tagsContainerEl.innerHTML.split(' ').filter(Boolean)
    var html = ''
    tags.forEach((tag) => {
      var childTag = tag.split('::').filter(Boolean)
      html +=
        "<span class='prettify-tag'>" +
        childTag[childTag.length - 1] +
        '</span>'
    })
    tagsContainerEl.innerHTML = html
  }
}
</script>

<script>
// Breadcrumbs to current deck
var deckEl = document.querySelector('.prettify-deck')
if (deckEl) {
  var subDecks = deckEl.innerHTML.split('::').filter(Boolean)
  html = []
  subDecks.forEach((subDeck) => {
    html.push("<span class='prettify-subdeck'>" + subDeck + '</span>')
  })
  deckEl.innerHTML = html.join('&nbsp;/&nbsp;')
}
</script>